Pr
PROJECT/SP lab II project 1 (4).pdf
PROJECT/function tests/login v5-1 simple SHA.c
PROJECT/function tests/login v5-1 simple SHA.exe
PROJECT/function tests/ulist.spenc
PROJECT/function tests/IO handler/str_inp.cpp
PROJECT/function tests/file naming & creation/madagsker.bal
PROJECT/function tests/file naming & creation/take input make file.c
PROJECT/function tests/file naming & creation/take input make file.exe
PROJECT/function tests/file naming & creation/trial1.txt
PROJECT/function tests/file naming & creation/trial2_bal.bal
PROJECT/function tests/jessan/duetime (1)
PROJECT/function tests/jessan/duetime (1).c
PROJECT/function tests/jessan/duetime.c
PROJECT/function tests/jessan/routinegpt.c
PROJECT/function tests/just file lock/File locker
PROJECT/function tests/just file lock/File locker.cpp
PROJECT/function tests/just file lock/File locker.exe
PROJECT/function tests/just file lock/file size
PROJECT/function tests/just file lock/file size.c
PROJECT/function tests/just file lock/File unlocker
PROJECT/function tests/just file lock/File unlocker.cpp
PROJECT/function tests/just file lock/File unlocker.exe
PROJECT/function tests/just file lock/folder lock.exe
PROJECT/function tests/just file lock/folder unlock
PROJECT/function tests/just file lock/Minecraft.mp4
PROJECT/function tests/just file lock/Screenshot(3829)copy.png
PROJECT/function tests/just file lock/Screenshot(3829)copy.png.spenc
PROJECT/function tests/just file lock/test/._Minecraft.mp4
PROJECT/function tests/just file lock/test/._Screenshot (3823).png
PROJECT/function tests/just file lock/test/._Screenshot (3829).png
PROJECT/function tests/just file lock/test/Screenshot (3823).png
PROJECT/function tests/just file lock/test/Screenshot (3829).png
PROJECT/function tests/login sys v1/spenc_umagr.c
PROJECT/function tests/login sys v1/spenc_umagr.exe
PROJECT/function tests/login sys v1/spenc.exe
PROJECT/function tests/login sys v1/uchk.c
PROJECT/function tests/login sys v1/ulist.spenc
PROJECT/function tests/login sys v1/umake.c
PROJECT/function tests/login sys v2/login
PROJECT/function tests/login sys v2/login.c
PROJECT/function tests/login sys v2/login.exe
PROJECT/function tests/login sys v2/uchk.c
PROJECT/function tests/login sys v2/uchk.exe
PROJECT/function tests/login sys v2/ulist.spenc
PROJECT/function tests/login sys v2/umake.c
PROJECT/function tests/login sys v2/umake.exe
PROJECT/function tests/login sys v3-frist implementation/cipher.c
PROJECT/function tests/login sys v3-frist implementation/decipher.c
PROJECT/function tests/login sys v3-frist implementation/login.c
PROJECT/function tests/login sys v3-frist implementation/login.exe
PROJECT/function tests/login sys v3-frist implementation/login2.c
PROJECT/function tests/login sys v3-frist implementation/uchk.c
PROJECT/function tests/login sys v3-frist implementation/ulist.spenc
PROJECT/function tests/login sys v3-frist implementation/umake.c
PROJECT/function tests/login sys v4/login v4.c
PROJECT/function tests/login sys v4/login.exe
PROJECT/function tests/login sys v4/new rand.c
PROJECT/function tests/login sys v4/new rand.exe
PROJECT/function tests/login sys v5 (real hashing)/128 to 4 32s hex.c
PROJECT/function tests/login sys v5 (real hashing)/full manual hash by GPT4o.c
PROJECT/function tests/login sys v5 (real hashing)/full manual hash by GPT4o.exe
PROJECT/function tests/login sys v5 (real hashing)/hash by gpt4o.c
PROJECT/function tests/login sys v5 (real hashing)/hash by gpt4o.exe
PROJECT/function tests/login sys v5 (real hashing)/hex example.c
PROJECT/function tests/login sys v5 (real hashing)/hex example.exe
PROJECT/function tests/login sys v5 (real hashing)/hexadecimal tests.c
PROJECT/function tests/login sys v5 (real hashing)/hexadecimal tests.exe
PROJECT/function tests/login sys v5 (real hashing)/login v5 simple hash.c
PROJECT/function tests/login sys v5 (real hashing)/login v5 simple hash.exe
PROJECT/function tests/login sys v5 (real hashing)/login.exe
PROJECT/function tests/login sys v5 (real hashing)/make folder.c
PROJECT/function tests/login sys v5 (real hashing)/make folder.exe
PROJECT/function tests/login sys v5 (real hashing)/rajdeal s-box.c
PROJECT/function tests/login sys v5 (real hashing)/rajdeal s-box.exe
PROJECT/function tests/login sys v5 (real hashing)/simple sha.c
PROJECT/function tests/login sys v5 (real hashing)/simple sha.exe
PROJECT/function tests/login sys v5 (real hashing)/using aes.c
PROJECT/function tests/login sys v5.1 (simple SHA)/login v5-1 simple SHA
PROJECT/function tests/login sys v5.1 (simple SHA)/login v5-1 simple SHA.c
PROJECT/function tests/login sys v5.1 (simple SHA)/login v5-1 simple SHA.exe
PROJECT/function tests/login sys v5.1 (simple SHA)/login v51.exe
PROJECT/function tests/login sys v5.1 (simple SHA)/run.exe
PROJECT/function tests/login sys v5.1 (simple SHA)/simple sha.c
PROJECT/function tests/login sys v5.1 (simple SHA)/ulist 2.spenc
PROJECT/function tests/login sys v5.1 (simple SHA)/ulist.spenc
PROJECT/function tests/new routine system/routine.c
PROJECT/function tests/system username/username.c
PROJECT/function tests/system username/username.exe
PROJECT/function tests/uconfig get/uconfig.c
PROJECT/function tests/uconfig get/uconfig.exe
PROJECT/function tests/uconfig get/uconfig.spenc
PROJECT/function tests/xor operations/encrytion test.c
PROJECT/function tests/xor operations/encrytion test.exe
